.main{
background-color: rgb(212, 212, 212);
}
.shapes{
  text-align: center;
}
.square {
  height: 40px;
  width: 40px;
  background-image: url("./square.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.square:hover{
  background-image: url("./sq\ hov.png");
  }
.rectangle {
  height: 40px;
  width: 40px;
  background-image: url("./rectangle.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.rectangle:hover{
  background-image: url("./rec\ hov.png");
  }
.ellipse {
  height: 40px;
  width: 40px;
  background-image: url("./ellipse.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.ellipse:hover{
  background-image: url("./ell\ hov.png");
  }
.triangle{
	height: 40px;
  width: 40px;
  background-image: url("./triangle.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.triangle:hover{
  background-image: url("./tri\ hov.png");
  }
.circle {
  height: 40px;
  width: 40px;
  background-image: url("./circle.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
  
}
.circle:hover{
  background-image: url("./circle\ ho.png");
  }
.line {
  height: 40px;
  width: 40px;
  background-image: url("./line.png");
  background-size: cover;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.line:hover{
  background-image: url("./line\ hov.png");
  }
.drawing-board{
  cursor: crosshair;
  background-color: rgb(248, 248, 248);
  height: 70%;
  width: 90%;
  position: relative;
  display: block; 
  margin:auto;


}